<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-hardware-items-heading"
        data-cy="HardwareItemsCreateUpdateHeading"
        jhiTranslate="smartHomeApplicationApp.hardwareItems.home.createOrEditLabel"
      >
        Create or edit a Hardware Items
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smartHomeApplicationApp.hardwareItems.hardwareDescAr" for="field_hardwareDescAr"
            >Hardware Desc Ar</label
          >
          <input
            type="text"
            class="form-control"
            name="hardwareDescAr"
            id="field_hardwareDescAr"
            data-cy="hardwareDescAr"
            formControlName="hardwareDescAr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smartHomeApplicationApp.hardwareItems.hardwareDescEn" for="field_hardwareDescEn"
            >Hardware Desc En</label
          >
          <input
            type="text"
            class="form-control"
            name="hardwareDescEn"
            id="field_hardwareDescEn"
            data-cy="hardwareDescEn"
            formControlName="hardwareDescEn"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smartHomeApplicationApp.hardwareItems.supportedQty" for="field_supportedQty"
            >Supported Qty</label
          >
          <input
            type="number"
            class="form-control"
            name="supportedQty"
            id="field_supportedQty"
            data-cy="supportedQty"
            formControlName="supportedQty"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smartHomeApplicationApp.hardwareItems.item" for="field_item">Item</label>
          <select class="form-control" id="field_item" data-cy="item" name="item" formControlName="item">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="requirementItemOption.id === editForm.get('item')!.value?.id ? editForm.get('item')!.value : requirementItemOption"
              *ngFor="let requirementItemOption of itemsCollection; trackBy: trackRequirementItemById"
            >
              {{ requirementItemOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
