<div>
  <h2 id="page-heading" data-cy="SubProjectHeading">
    <span jhiTranslate="smartHomeApplicationApp.subProject.home.title">Sub Projects</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="smartHomeApplicationApp.subProject.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sub-project"
        [routerLink]="['/sub-project/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="smartHomeApplicationApp.subProject.home.createLabel"> Create a new Sub Project </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="subProjects?.length === 0">
    <span jhiTranslate="smartHomeApplicationApp.subProject.home.notFound">No subProjects found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="subProjects && subProjects.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="projectTemplateCode">
            <span jhiTranslate="smartHomeApplicationApp.subProject.projectTemplateCode">Project Template Code</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="projectTemplateNameAr">
            <span jhiTranslate="smartHomeApplicationApp.subProject.projectTemplateNameAr">Project Template Name Ar</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="projectTemplateNameEn">
            <span jhiTranslate="smartHomeApplicationApp.subProject.projectTemplateNameEn">Project Template Name En</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="project.id">
            <span jhiTranslate="smartHomeApplicationApp.subProject.project">Project</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subProject of subProjects; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sub-project', subProject.id, 'view']">{{ subProject.id }}</a>
          </td>
          <td>{{ subProject.projectTemplateCode }}</td>
          <td>{{ subProject.projectTemplateNameAr }}</td>
          <td>{{ subProject.projectTemplateNameEn }}</td>
          <td>
            <div *ngIf="subProject.project">
              <a [routerLink]="['/project', subProject.project?.id, 'view']">{{ subProject.project?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sub-project', subProject.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sub-project', subProject.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(subProject)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="subProjects && subProjects.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
