<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="hardwareItems">
      <h2 data-cy="hardwareItemsDetailsHeading">
        <span jhiTranslate="smartHomeApplicationApp.hardwareItems.detail.title">Hardware Items</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ hardwareItems.id }}</span>
        </dd>
        <dt><span jhiTranslate="smartHomeApplicationApp.hardwareItems.hardwareDescAr">Hardware Desc Ar</span></dt>
        <dd>
          <span>{{ hardwareItems.hardwareDescAr }}</span>
        </dd>
        <dt><span jhiTranslate="smartHomeApplicationApp.hardwareItems.hardwareDescEn">Hardware Desc En</span></dt>
        <dd>
          <span>{{ hardwareItems.hardwareDescEn }}</span>
        </dd>
        <dt><span jhiTranslate="smartHomeApplicationApp.hardwareItems.supportedQty">Supported Qty</span></dt>
        <dd>
          <span>{{ hardwareItems.supportedQty }}</span>
        </dd>
        <dt><span jhiTranslate="smartHomeApplicationApp.hardwareItems.item">Item</span></dt>
        <dd>
          <div *ngIf="hardwareItems.item">
            <a [routerLink]="['/requirement-item', hardwareItems.item?.id, 'view']">{{ hardwareItems.item?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/hardware-items', hardwareItems.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
