<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-requirement-item-heading"
        data-cy="RequirementItemCreateUpdateHeading"
        jhiTranslate="smartHomeApplicationApp.requirementItem.home.createOrEditLabel"
      >
        Create or edit a Requirement Item
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smartHomeApplicationApp.requirementItem.sysCode" for="field_sysCode">Sys Code</label>
          <input type="text" class="form-control" name="sysCode" id="field_sysCode" data-cy="sysCode" formControlName="sysCode" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smartHomeApplicationApp.requirementItem.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smartHomeApplicationApp.requirementItem.descriptionAr" for="field_descriptionAr"
            >Description Ar</label
          >
          <input
            type="text"
            class="form-control"
            name="descriptionAr"
            id="field_descriptionAr"
            data-cy="descriptionAr"
            formControlName="descriptionAr"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smartHomeApplicationApp.requirementItem.descriptionEn" for="field_descriptionEn"
            >Description En</label
          >
          <input
            type="text"
            class="form-control"
            name="descriptionEn"
            id="field_descriptionEn"
            data-cy="descriptionEn"
            formControlName="descriptionEn"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smartHomeApplicationApp.requirementItem.subProjectTemplate" for="field_subProjectTemplate"
            >Sub Project Template</label
          >
          <select
            class="form-control"
            id="field_subProjectTemplate"
            data-cy="subProjectTemplate"
            name="subProjectTemplate"
            formControlName="subProjectTemplate"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                subProjectTemplateOption.id === editForm.get('subProjectTemplate')!.value?.id
                  ? editForm.get('subProjectTemplate')!.value
                  : subProjectTemplateOption
              "
              *ngFor="let subProjectTemplateOption of subProjectTemplatesSharedCollection; trackBy: trackSubProjectTemplateById"
            >
              {{ subProjectTemplateOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
